<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<h1 class="heading">HOUSE-LIST</h1>

<div class="container">
    <div class="house-card" *ngFor="let house of houseList">
        <div class="card" style="width: 15rem; height: 21rem ; border-radius: 10%;">
            <img [src]="house.url" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text" style="color: blueviolet;"><strong>{{house.Name}}</strong></p>
                <a class="card-text"><strong><i class="bi bi-geo-alt"></i>{{house.location}}</strong></a>
                <br>
                <br>
                <button style="border-radius: 30px;">{{house.about}}</button>

            </div>
        </div>
    </div>
</div>

<style>
    .heading {
        padding-left: 40%;
        text-decoration: underline;
        font-weight: 1000;
        color: blueviolet;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .house-card {
        border-radius: 10%;
        margin-bottom: 40px;
        box-shadow: 0 10px 10px rgba(52, 11, 63, 0.946);
    }

    .house-card img {
        height: 200px;
        width: 238px;
        border-radius: 8%;
    }
</style>